/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconContact {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconContact .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* --------------------------
	Sub menu
   -------------------------- */
#navi-main-list-contact li.item a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
}

#navi-main-list-contact li.itemContactPerson a {
	background-position:6px 6px;
}

#navi-main-list-contact li.itemContactCompany a {
	background-position:6px -146px;
}

span.wizardIcon.createWizardPerson	{
	background:url(../img/icons.png) no-repeat 0 -90px;
}

span.wizardIcon.createWizardCompany	{
	background:url(../img/icons.png) no-repeat 0 -240px;
}



/* -----------------------------------
	Create mode options in headlet
   ----------------------------------- */
#todoyuheadletquickcreate li.itemContactCompany a {
	background:url(../img/icons.png) no-repeat 5px -238px;
}

#todoyuheadletquickcreate li.itemContactPerson a {
	background:url(../img/icons.png) no-repeat 5px -88px;
}



/* ------------------------------------
	Quick create wizard popUp styling
   ------------------------------------ */
#quickcreate.dialog.company div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -241px;
}

#quickcreate.dialog.person div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -91px;
}



/* -----------------
	Search
   ----------------- */
#todoyusearchheadletquicksearch li.searchmodeCompany a {
	background:url(../img/icons.png) no-repeat 3px -148px !important;
}
#todoyusearchheadletquicksearch form.searchmodeCompany a.mode {
	background:url(../img/icons.png) no-repeat 3px -534px !important;
}
#todoyusearchheadletquicksearch-modes li.searchmodePerson a {
	background:url(../img/icons.png) no-repeat 3px 3px !important;
}
#todoyusearchheadletquicksearch form.searchmodePerson a.mode {
	background:url(../img/icons.png) no-repeat 3px -504px !important;
}



/* -------------------------
	Person list
   ------------------------- */
.personListing th,
.personListing td {
	vertical-align:middle;
}



	/* Column widths */
.personListing th.icon {
	width:15px;
}
.personListing th.firstname,
.personListing th.lastname,
.personListing th.email {
	width:118px;
}
.personListing th.company {
	width:145px;
}

.personListing th.actions {
	width:80px;
}

.personListing td {
	vertical-align:middle;
}

	/* Column configs */
.personListing span.icon {
	background:url(../img/icons.png) no-repeat 2px 2px;
}
.personListing td.login span.icon {
	background:url(../img/icons.png) no-repeat 2px -568px;
}
.personListing td.icon.person {
	background:url(../img/icons.png) no-repeat 6px -116px;
}

#contact-details div.actions span.icon,
.personListing td.actions span.icon {
	cursor:pointer;
	margin-right:5px;
}
#contact-details div.actions span.icon,
.personListing td.actions span {
	background:url(../img/icons.png) no-repeat;
}
.personListing td.actions span.info {
	background-position:0 -356px;
}
#contact-details div.actions .buttonPersonEdit span.icon,
.personListing td.actions span.edit {
	background-position:6px -27px;
	width:22px;
}
#contact-details div.actions button.buttonPersonDelete span.icon,
.personListing td.actions span.delete {
	background-position:6px -57px;
	width:22px;
}
#contact-details div.actions button.cancel span.icon {
	background:url(../../../../core/asset/img/icons.png) no-repeat 3px -357px;
}



/* -------------------------
	Tabs
   -------------------------*/
#contact-tabs .tabkey-person .icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}

#contact-tabs .tabkey-company .icon {
	background:url(../img/icons.png) no-repeat 0 -146px;
}




/* -------------------------
	Company list
   -------------------------*/
.companyListing th,
.companyListing td {
	vertical-align:middle;
}

.companyListing th.icon {
	width:15px;
}

.companyListing th.title {
	width:260px;
}

/*
.companyListing th.persons {
	width:65px;
}
*/

.companyListing th.address {
	width:270px;
}

.companyListing th.actions {
	width:80px;
}

	/* Column configs */
.companyListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -144px;
}

.companyListing td.actions span.icon {
	cursor:pointer;
	margin-right:5px;
}

.companyListing td.actions span {
	background-image:url(../img/icons.png);
}
.companyListing td.actions span.info {
	background-position:0 -356px;
}
#contact-details div.actions .buttonCompanyEdit span.icon,
.companyListing td.actions span.edit {
	background-position:6px -178px;
	width:22px;
}
#contact-details.company div.actions .buttonCompanyDelete span.icon,
.companyListing td.actions span.delete {
	background-position:6px -208px;
	width:22px;
}



/* ---------------------
	Visiting card
   -------------------- */
div.visitingCardContent {
	padding:12px 12px 18px 12px !important;
}

div.visitingCardContent table tr td {
	text-align:left;
	padding:2px 2px 2px 8px !important;
}

div.visitingCardContent table tr td.label {
	padding-right:18px;
	letter-spacing:0.3px;
}

#search-tab-contact span.icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}


/* -------------------
	Person Details
   ------------------- */
#contact-details div.image img {
	margin-top:3px;
	border:solid #d5dee5;
	border-width:4px 4px 21px 4px;
}

#contact-details .left {
	float:left;
	margin-right:13px;
	padding:0 0 6px 0;
}

#contact-details div.clear {
	clear:both;
	width:100%;
}

#contact-details h3 {
	margin-bottom:5px;
}

#contact-details dt,
#contact-details dd {
	float:left;
	line-height:15px;
}

#contact-details dt {
	width:20%;
}

#contact-details dd {
	width:80%;
}

#contact-details dl.noflaot dd,
#contact-details dl.noflaot dt {
	float:none;
}

#contact-details div.actions {
	padding-top:5px;
	float:right;
}

#contact-details .content a {
	text-decoration:underline !important;
}

button.uploadContactImage .icon {
	background:url(../img/icons.png) no-repeat 6px -448px;
	width:25px;
}
button.removeContactImage .icon {
	background:url(../img/icons.png) no-repeat 6px -478px;
	width:25px;
}


/* -------------------
	Person Profile
   ------------------- */
#panelwidget-profilemodules li.contact {
	background:url(../img/exticon.png) no-repeat 5px 3px;
}

#contact-tabs .tabkey-contact .icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}