/* -----------------------------------------------------
	Staff selector
   ----------------------------------------------------- */
#panelwidget-staffselector h1 .title {
	background:url(../img/icons.png) no-repeat 5px 6px;
}

#panelwidget-staffselector li.group a {
	background:url(../../../sysmanager/asset/img/icons.png) no-repeat 2px -210px;
}

#panelwidget-staffselector li.person a {
	background:url(../img/icons.png) no-repeat 2px 2px;
}

#panelwidget-staffselector li {
	border-left:5px solid #FFF;
	padding-left:2px;
}

#panelwidget-staffselector-list li {
	border-left-color:#FFF !important;
}

#panelwidget-staffselector-list li.hot a {
	font-weight:bold;
}

#panelwidget-staffselector h5 {
	margin-bottom:2px;
}

#panelwidget-staffselector-selection {
	border:1px dotted #CCCCCC;
	display:inline-block;
	margin-top:3px;
	padding:5px;
	width:95%;
}


#panelwidget-staffselector-selection li:hover a {
	color:#CCC;
}

#panelwidget-staffselector-selection li.disabled a {
	color:#CCC;
	font-weight:bold;
}

#panelwidget-staffselector li a span {
	float:right;
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:40px;
	background-image:url(../../../../core/asset/img/icons.png);
	background-repeat:no-repeat;
}

#panelwidget-staffselector li a span.remove {
	background-position:2px -358px;
}
#panelwidget-staffselector li a span.add {
	background-position:2px -28px;
}



