#panelwidget-contactsearch h1 .title {
	background:url('../../../../core/asset/img/icons.png') no-repeat 8px -444px;
}

#panelwidget-contactsearch fieldset {
	padding-top:5px;
}

#panelwidget-contactsearch label {
	float:left;
	padding:2px 5px 2px 0;
}

#panelwidget-contactsearch-sword {
	width:191px;
	float:left;
}

#panelwidget-contactsearch-content a.icon {
	background:url('../../../../core/asset/img/icons.png') no-repeat;
	margin-left:5px;
	cursor:pointer;
}

#panelwidget-contactsearch-content a.clearIcon {
	background-position:2px -358px;
}

#panelwidget-contactsearch-content button .showAll {
	background-position:6px -870px;
}

#panelwidget-contactsearch-content button .hideAll {
	background-position:6px -840px;
}

#searchinput-showall span input[type=checkbox] {
	margin:6px 0 0 0;
}