#panelwidget-contactexport h1 .title {
	background:url(../img/icons.png) no-repeat 4px -386px;
}

#panelwidget-contactexport #export-person .icon,
#panelwidget-contactexport #export-company .icon {
	background:transparent url('../../../../core/asset/img/icons.png') 1px -1598px no-repeat;
}

#panelwidget-contactexport p.instructiontext {
	padding:10px 0;
}