/* -----------------------------------------------------
	Staff selector
   ----------------------------------------------------- */
#panelwidget-staffselector h1 .title {
	background:url(../img/icons.png) no-repeat 5px 6px;
}

#panelwidget-staffselector li a {
	width:250px;
}

#panelwidget-staffselector li.group a {
	background:url(../../../sysmanager/asset/img/icons.png) no-repeat 2px -210px;
}

#panelwidget-staffselector li.virtualgroup a {
	background:url(../img/panelwidget-staffselector.png) no-repeat 2px 0;
}

#panelwidget-staffselector li.person a {
	background:url(../img/icons.png) no-repeat 2px 2px;
}

#panelwidget-staffselector li {
	border-left:5px solid #FFF;
	padding-left:2px;
}

#panelwidget-staffselector-list li {
	border-left-color:#FFF !important;
}

#panelwidget-staffselector-list li.hot a {
	font-weight:bold;
}

#panelwidget-staffselector h5 {
	margin-bottom:2px;
}

#panelwidget-staffselector-selection {
	border:1px solid #ddd;
	display:inline-block;
	margin-top:3px;
	padding:5px;
	width:95%;
}

#panelwidget-staffselector-selection li.disabled {
	opacity:.50;
	filter:alpha(opacity=50);
	-ms-filter:'alpha(opacity=50)';
	-khtml-opacity:.50;
	-moz-opacity:.50;
}
#panelwidget-staffselector-selection li.disabled:hover {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-filter:'alpha(opacity=100)';
	-khtml-opacity:1;
	-moz-opacity:1;
}

#panelwidget-staffselector li a span {
	float:right;
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:40px;
	background-image:url(../../../../core/asset/img/icons.png);
	background-repeat:no-repeat;
}
#panelwidget-staffselector li a span.add {
	background-position:2px -28px;
}
#panelwidget-staffselector li a span.remove {
	background-position:2px -358px;
}

#panelwidget-staffselector li a span.deletegroup {
	background-image:url(../img/panelwidget-staffselector.png);
	background-position:2px -32px;
	margin-right:2px !important;
}
#panelwidget-staffselector li.virtualgroup a span.add {
	background-position:2px -28px;
}

#panelwidget-staffselector li.virtualgroup a span.remove {
	margin-right:-34px;
}
#panelwidget-staffselector .selection li a span.deletegroup {
	margin-right:58px !important;
}
