<ul id="panelwidget-{$id}-list">
	{foreach $persons person}
		<li id="panelwidget-{$id}-person-{$person.id}">
			<a href="javascript:void(0)" title="ID: {$person.id}" class="{$person.salutation}">
				{$person.lastname} {$person.firstname}{if $person.shortname != ''} ({$person.shortname}){/if}
			</a>
		</li>
	{else}
		{Label contact.panelwidget-stafflist.list.empty}
	{/foreach}
</ul>