<div id="panelwidget-contactexport">
	<p class="instructiontext">
		{Label $instructionText}
	</p>

	{Button label="$buttonText"  onclick="Todoyu.Ext.contact.PanelWidget.ContactExport.export()" class="contactExportButton $contactType" id="export-$contactType"}
</div>