<h1 class="headerLine">
{if $contactType == "person"}
	<span class="personLastname"> {Label user.user.attr.lastname}</span>
	<span class="personFirstname"> {Label user.user.attr.firstname}</span>
{else}
	<span class="companyTitle"> {Label user.customer.attr.name}</span>
	<span class="companyShortname"> {Label user.customer.attr.shortname}</span>
{/if}
	<span id="create-{$contactType}" class="additionalStuff">
	</span>
	<span class="rgt"><!--right--></span>
</h1>