<div id="contact-main" class="contactList overflow">
	{$listheader}

	<ul class="listContainer overflow">
		{block name="contactList"}
			This part should be replaced by your list template
		{/block}
	</ul>
</div>
