table.list tr.odd td{
	background-color: #f3f3f3;
}

/* -------------------------
	Personlist
   -------------------------*/

	/* Column widths */
.personListing th.icon {
	width:15px;
}
.personListing th.firstname,
.personListing th.lastname,
.personListing th.email {
	width:111px;
}
.personListing th.company {
	width:145px;
}

.personListing th.actions {
	width:100px;
}

	/* Column configs */
.personListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -85px;
}
.personListing td.actions div.icon {
	cursor:pointer;
	margin-right:5px;
}
.personListing td.actions div {
	background-image:url(../../../user/assets/img/icons.png);
	background-repeat:no-repeat;
}
.personListing td.actions div.edit {
	background-position:0 -270px;
}
.personListing td.actions div.delete {
	background-position:0 -300px;
}
.personListing td.actions div.user {
	background-position:0 -330px;
}

/* -------------------------
	Tabs
   -------------------------*/

.tabs .tabkey-person .icon{
	background: url(../img/icons.png) no-repeat 0 -85px;
}

.tabs .tabkey-company .icon{
	background: url(../img/icons.png) no-repeat 0 -115px;
}

.tabs .tabkey-jobtype .icon{
	background: url(../img/icons.png) no-repeat 0 -145px;
}

.tabs .tabkey-customerrole .icon{
	background: url(../img/icons.png) no-repeat 0 -173px;
}



/* -------------------------
	Company list
   -------------------------*/

.companyListing th.icon {
	width:15px;
}

.companyListing th.title {
	width:220px;
}

.companyListing th.users {
	width:65px;
}

.companyListing th.address {
	width:250px;
}

.companyListing th.actions {
	width:80px;
}

	/* Column configs */
.companyListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -115px;
}

.companyListing td.actions div.icon {
	cursor:pointer;
	margin-right:5px;
}

.companyListing td.actions div {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}

.companyListing td.actions div.edit {
	background-position:0 -480px;
}

.companyListing td.actions div.delete {
	background-position:0 -510px;
}


.companyListing td.actions div.info,
.personListing td.actions div.info {
	background: url(../img/icons.png) no-repeat 0 -539px;
}


/* -------------------------
	Contact list
   -------------------------*/

.contactList li {
	padding: 3px 5px;
}

	.contactList .headerLine span.additionalStuff {
		padding:3px 0;
	}

	.contactList span.personLastname,
	.contactList span.personFirstname {
		width:230px;
	}

	.contactList span.personFirstname {
		margin-left:0px;
	}

	.contactList span.companyTitle,
	.contactList span.companyShortname {
		width:290px;
	}

	.contactList span.companyShortname {
		margin-left:0px;
	}

	.contactList ul li.listItem span.personLastname,
	.contactList ul li.listItem span.personFirstname {
		float:left;
		line-height:18px;
	}

	.contactList ul li.listItem span.companyTitle,
	.contactList ul li.listItem span.companyShortname {
		float:left;
		line-height:18px;
	}

	.contactList span.additionalStuff {
		float:right;
		margin-right:10px;
		padding:0;
	}

	.contactList span.additionalStuff .icon {
		margin-left:10px;
		cursor: pointer;
	}

	.contactList a.edit {
		background: url(../img/icons.png) no-repeat 0px 2px;
	}

	.contactList a.add {
		background: url(../img/icons.png) no-repeat 0px -57px;
	}

	.contactList a.remove {
		background: url(../img/icons.png) no-repeat 0px -27px;
	}

	.contactList a.editLoginUser {
		background: url(../img/icons.png) no-repeat 0px -390px;
	}

	.contactList a.createLoginUser {
		background: url(../img/icons.png) no-repeat 0px -360px;
	}

	.contactList #create-person a {
		background: transparent url(../img/icons.png) no-repeat 0px -207px;
	}

	.contactList #create-company a {
		background: transparent url(../img/icons.png) no-repeat 0px -237px;
	}



/* ---------------------
 	Alphabetical index
   --------------------- */

#contact-main div#indexLinks {
	margin:8px 0 12px 0;
}

#contact-main div#indexLinks a {
	padding: 0 4px 0 4px;
}

#contact-main div#indexLinks a span {
	padding: 0 8px 0 8px;
}

#contact-main div#indexLinks a:hover{
	background-color:#d3dabb;
}



/* ---------------------
	Visiting card
   -------------------- */

div.visitingCardContent {
	padding: 12px 0 18px 12px !important;
}

div.visitingCardContent table {
	width: 380px;
}

div.visitingCardContent table tr td {
	text-align: left;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	padding-left: 8px !important;
}

div.visitingCardContent table tr.even {
	background-color: #EAECE7;
}

div.visitingCardContent table tr td.label {
	padding: 0 18px 0 0;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}