/* -------------------------
	Personlist
   -------------------------*/

	/* Column widths */
.personListing th.icon {
	width:15px;
}
.personListing th.firstname,
.personListing th.lastname,
.personListing th.email {
	width:118px;
}
.personListing th.company {
	width:145px;
}

.personListing th.actions {
	width:80px;
}

	/* Column configs */
.personListing span.icon {
	background:url(../img/icons.png) no-repeat 6px 0px;
}
.personListing td.icon.person {
	background:url(../img/icons.png) no-repeat 6px -116px;
}
.personListing td.actions div.icon {
	cursor:pointer;
	margin-right:5px;
}
.personListing td.actions div {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
.personListing td.actions div.info {
	background-position:0 3px;
}
.personListing td.actions div.edit {
	background-position:0 -27px;
}
.personListing td.actions div.delete {
	background-position:0 -57px;
}


/* -------------------------
	Tabs
   -------------------------*/

#contact-tabs .tabkey-person .icon {
	background: url(../img/icons.png) no-repeat 0 6px;
}

#contact-tabs .tabkey-company .icon {
	background: url(../img/icons.png) no-repeat 0 -146px;
}

/*
.tabs .tabkey-jobtype .icon {
	background: url(../img/icons.png) no-repeat 0 -145px;
}

.tabs .tabkey-customerrole .icon {
	background: url(../img/icons.png) no-repeat 0 -173px;
}
*/


/* -------------------------
	Company list
   -------------------------*/

.companyListing th.icon {
	width:15px;
}

.companyListing th.title {
	width:220px;
}

.companyListing th.persons {
	width:65px;
}

.companyListing th.address {
	width:250px;
}

.companyListing th.actions {
	width:80px;
}

	/* Column configs */
.companyListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -146px;
}

.companyListing td.actions div.icon {
	cursor:pointer;
	margin-right:5px;
}

.companyListing td.actions div {
	background-image:url(../img/icons.png);
}
.companyListing td.actions div.info {
	background-position:0 -150px;
}
.companyListing td.actions div.edit {
	background-position:0 -180px;
}
.companyListing td.actions div.delete {
	background-position:0 -210px;
}



/* ---------------------
 	Person edit
   --------------------- */
form.formPerson fieldset.account {
	margin:20px 0;
	border-left:20px solid #CCC;
}

form.formPerson fieldset.account > div.fElement,
form.formPerson fieldset.account fieldset.loginfields {
	width:640px;
}




/* ---------------------
	Visiting card
   -------------------- */

div.visitingCardContent {
	padding: 12px 0 18px 12px !important;
}

div.visitingCardContent table {
	width: 380px;
}

div.visitingCardContent table tr td {
	text-align: left;
	padding: 2px 5px 2px 8px;
}

div.visitingCardContent table tr td.label {
	padding-right:18px;
	
	letter-spacing: 0.3px;
}



#search-tab-contact span.icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}