/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconContact {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconContact .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* --------------------------
	Sub menu
   -------------------------- */
#navi-main-list-contact li.item a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
}

#navi-main-list-contact li.itemContactPerson a {
	background-position:6px 6px;
}

#navi-main-list-contact li.itemContactCompany a {
	background-position:6px -146px;
}

span.wizardIcon.createNewPerson	{
	background:url(../img/icons.png) no-repeat 0 -90px;
}

span.wizardIcon.createNewCompany	{
	background:url(../img/icons.png) no-repeat 0 -240px;
}



/* -----------------------------------
	Create mode options in headlet
   ----------------------------------- */
#headlet-quickcreate-content li.itemContactCompany a {
	background:url(../img/icons.png) no-repeat 5px -238px;
}

#headlet-quickcreate-content li.itemContactPerson a {
	background:url(../img/icons.png) no-repeat 5px -88px;
}



/* ------------------------------------
	Quick create wizard popUp styling
   ------------------------------------ */
#quickcreate.dialog.company div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -241px;
}

#quickcreate.dialog.person div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -91px;
}



/* -----------------
	Search
   ----------------- */
#headlet-quicksearch-content form.searchmodeCompany a.mode,
#headlet-quicksearch-content li.searchmodeCompany a {
	background:url(../img/icons.png) no-repeat 3px -148px !important;
}
#headlet-quicksearch-content form.searchmodePerson a.mode,
#headlet-quicksearch-content li.searchmodePerson a {
	background:url(../img/icons.png) no-repeat 3px 3px !important;
}



/* -------------------------
	Person list
   ------------------------- */
.personListing th,
.personListing td {
	vertical-align:middle;
}


	/* Column widths */
.personListing th.icon {
	width:15px;
}
.personListing th.firstname,
.personListing th.lastname,
.personListing th.email {
	width:118px;
}
.personListing th.company {
	width:145px;
}

.personListing th.actions {
	width:80px;
}

.personListing td {
	vertical-align:middle;
}

	/* Column configs */
.personListing span.icon {
	background:url(../img/icons.png) no-repeat 2px 2px;
}
.personListing td.icon.person {
	background:url(../img/icons.png) no-repeat 6px -116px;
}
.personListing td.actions span.icon {
	cursor:pointer;
	margin-right:5px;
}
.personListing td.actions span {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
.personListing td.actions span.info {
	background-position:0 -356px;
}
.personListing td.actions span.edit {
	background-position:0 -28px;
}
.personListing td.actions span.delete {
	background-position:0 -58px;
}


/* -------------------------
	Tabs
   -------------------------*/

#contact-tabs .tabkey-person .icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}

#contact-tabs .tabkey-company .icon {
	background:url(../img/icons.png) no-repeat 0 -146px;
}




/* -------------------------
	Company list
   -------------------------*/

.companyListing th,
.companyListing td {
	vertical-align:middle;
}

.companyListing th.icon {
	width:15px;
}

.companyListing th.title {
	width:260px;
}

/*
.companyListing th.persons {
	width:65px;
}
*/

.companyListing th.address {
	width:270px;
}

.companyListing th.actions {
	width:80px;
}

	/* Column configs */
.companyListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -144px;
}

.companyListing td.actions span.icon {
	cursor:pointer;
	margin-right:5px;
}

.companyListing td.actions span {
	background-image:url(../img/icons.png);
}
.companyListing td.actions span.info {
	background-position:0 -356px;
}
.companyListing td.actions span.edit {
	background-position:0 -179px;
}
.companyListing td.actions span.delete {
	background-position:0 -209px;
}

/* ---------------------
	Visiting card
   -------------------- */
div.visitingCardContent {
	padding:12px 12px 18px 12px !important;
}

div.visitingCardContent table tr td {
	text-align:left;
	padding:2px 2px 2px 8px !important;
}

div.visitingCardContent table tr td.label {
	padding-right:18px;
	letter-spacing:0.3px;
}



#search-tab-contact span.icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}