#panelwidget-contactSearch h1 .title {
	background:url('../img/icons.png') no-repeat 8px -325px;
}

#panelwidget-contactSearch-content {
	padding-top:5px;
}

#panelwidget-contactSearch label {
	float:left;
	padding-right:5px;
}

#panelwidget-contactSearch-sword {
	width:170px;
	float:left;
}

#panelwidget-contactSearch-content a.icon {
	background-image:url('../../../../core/assets/img/icons.png');
	background-repeat:no-repeat;
	margin-left:5px;
	cursor:pointer;
}

#panelwidget-contactSearch-content a.searchIcon {
	background-position:2px -448px;
}

#panelwidget-contactSearch-content a.clearIcon {
	background-position:2px -328px;
}

#panelwidget-contactSearch-content button .showAll {
	background-position:6px -870px;
}

#panelwidget-contactSearch-content button .hideAll	{
	background-position:6px -840px;
}

#searchinput-showall span input[type=checkbox] {
	margin:6px 0 0 0;
}