#panelwidget-contactSearch h1 .title {
	background:url('../../../../core/assets/img/icons.png') no-repeat 8px -444px;
}

#panelwidget-contactSearch fieldset {
	padding-top: 5px;
}

#panelwidget-contactSearch label {
	float:left;
	padding:2px 5px 2px 0;
}

#panelwidget-contactSearch-sword {
	width:170px;
	float:left;
}

#panelwidget-contactSearch-content a.icon {
	background:url('../../../../core/assets/img/icons.png') no-repeat;
	margin-left:5px;
	cursor:pointer;
}

#panelwidget-contactSearch-content a.searchIcon {
	background-position:2px -447px;
}

#panelwidget-contactSearch-content a.clearIcon {
	background-position:2px -358px;
}

#panelwidget-contactSearch-content button .showAll {
	background-position:6px -870px;
}

#panelwidget-contactSearch-content button .hideAll {
	background-position:6px -840px;
}

#searchinput-showall span input[type=checkbox] {
	margin:6px 0 0 0;
}