/* -----------------------------------------------------
	Staff selector
   ----------------------------------------------------- */
#panelwidget-staffselector .panelWidget .content,
#panelwidget-staffselector .panelwidgetContent {
	position:relative;
}

#panelwidget-staffselector h1 .title {
	background:url(../img/icons.png) no-repeat 5px 6px;
}

#panelwidget-staffselector div.fLabel {
	border-bottom:1px solid #CCC;
}

#panelwidget-staffselector option {
	padding-left:15px;
}

#panelwidget-staffselector-jobtype {
	margin:0 0 8px 0;
}

#panelwidget-staffselector .toggleSelect {
	position:absolute;
	z-index:100;
	right:0;
	top:0;
	margin-top:-4px;
}

#panelwidget-staffselector div.jobTypeToggleLabel {
	margin-top:5px;
}

#panelwidget-staffselector-jobtypetoggle,
#panelwidget-staffselector-content label {
	vertical-align:top;
}