<form class="fForm overflow" id="panelwidget-{$id}-form">
	<fieldset>
		<legend>{Label core.global.search}</legend>
		<label for="panelwidget-{$id}-sword">{Label core.global.search}</label>
		<input type="text" name="sword" id="panelwidget-{$id}-sword" value="{htmlencode $sword}" />
		<a class="icon clearIcon hidden" id="panelwidget-{$id}-clear" onclick="Todoyu.Ext.contact.PanelWidget.ContactSearch.clear()" title="{Label contact.panelwidget-contactsearchinput.clearSword}"></a>
	</fieldset>
</form>
