<div title="{Label contact.company.tooltip.showInfo}" class="icon info" onclick="Todoyu.Ext.contact.Company.show({$id})"></div>
{restrict 'contact' 'company:edit'}
	<div title="{Label contact.company.tooltip.edit}" class="icon edit" onclick="Todoyu.Ext.contact.Company.edit({$id})"></div>
{/restrict}
{restrict 'contact' 'company:delete'}
	<div title="{Label contact.company.tooltip.delete}" class="icon delete" onclick="Todoyu.Ext.contact.Company.remove({$id})"></div>
{/restrict}
