<div id="contact-details" class="company">
	<h5>{$title}</h5>

	<div class="left main-company-data">
		<h3>{Label LLL:contact.company.maincompanydata}</h3>
		<dl class="nofloat">
			<dd>{$title}</dd>
		</dl>
	</div>

	<div class="right image">
		{companyImage $id}
	</div>

	<div class="clear contact-info">
		<h3>{Label LLL:contact.contactinfo}</h3>
		<dl>
			{foreach $contactinfo numCi ciData}
				<dt>{labelContactinfotype $ciData.id_contactinfotype}:</dt><dd>{htmlencode wordwrap($ciData.info 30 cut=false)}</dd>
			{/foreach}
		</dl>
	</div>

	<div class="clear addressPart">
		{foreach $address numAddr addressType}
			<div class="{if $numAddr%2}right{else}left{/if} address">
				<h3>{addressType $addressType.id_addresstype}</h3>
				{$addressType.street}<br />
				{if strlen($addressType.postbox)>0}
					{Label contact.address.attr.postbox}: {htmlencode wordwrap($addressType.postbox 30 cut=true)}<br />
				{/if}
				{$addressType.zip} {$addressType.city}<br />
				{countryName $addressType.id_country}
			</div>
		{/foreach}
	</div>

	<div class="clear employeePart">
		<h3>{Label LLL:contact.company.attr.person}</h3>
		{foreach $person numEmployee pers}
			<div class="{if $numEmployee%2}right{else}left{/if}">
				<dl class="nofloat">
					<dd><a href="{link 'contact' 'person' '&action=detail&person=$pers.id'}">{personLabel $pers.id 'employee' $id}</a></dd>
					<dd>{$pers.jobtype.title}</dd>
					{if $pers.id_workaddress > 0}<dd>{$pers.workaddress.street}, {$pers.workaddress.zip} {$pers.workaddress.city}, {countryName $pers.workaddress.id_country}</dd>{/if}
				</dl>
			</div>
		{/foreach}
	</div>

	{if $date_enter > 0}
		<div class="clear others">
			<h3>{Label LLL:contact.other}</h3>
			<dl>
				<dt>{Label LLL:contact.company.attr.date_enter}:</dt><dd>{dateFormat $date_enter "date"}</dd>
				{if allowed('contact', 'company:seeComment')}
					<dt>{Label LLL:contact.company.attr.comment}:</dt><dd>{$comment}</dd>
				{/if}
			</dl>
		</div>
	{/if}

	{if allowed('contact', 'company:editAndDelete')}
		<div class="clear actions">
			<span class="icon edit" onclick="Todoyu.Ext.contact.Company.edit({$id});" title="{Label LLL:contact.company.edit}"></span>
			<span class="icon delete" onclick="Todoyu.Ext.contact.Company.remove({$id});" title="{Label LLL:contact.company.delete}"></span>
		</div>
	{/if}
</div>