<div class="visitingCardContent">
	<table class="listsimple">
		<tr class="odd">
			<td class="label">{Label contact.person.attr.firstname}:</td>
			<td width="90%">{$firstname}</td>
		</tr>
		<tr class="even">
			<td class="label">{Label contact.person.attr.lastname}:</td>
			<td>{$lastname}</td>
		</tr>
		{if strlen($shortname) > 0}
			<tr class="odd">
				<td class="label">{Label contact.company.attr.shortname}:</td>
				<td>{$shortname}</td>
			</tr>
		{/if}
		<tr class="even"><td colspan="2"><br/></td></tr>
		{if $birthday != '0000-00-00'}
			<tr class="odd">
				<td class="label">{Label contact.birthdate}:</td>
				<td>{$birthday}</td>
			</tr>
		{/if}
		<tr class="even">
			<td class="label">{Label contact.person.attr.gender}:</td>
			<td>{if $gender=='m'}{Label contact.male}{else}{Label contact.female}{/if}</td>
		</tr>
		<tr class="even"><td colspan="2"><br/></td></tr>
		<tr class="odd">
			<td class="label">{Label contact.employer}:</td>
			<td>
				{$company[0][title]}<br/><br/>
				{foreach $companyData[$company[0][id]] companyAddress}
					{$companyAddress.street}<br/>
					{$companyAddress.zip} {$custAddressData.city}<br/>
					{$companyAddress.label_country}<br/>
					{if strlen($companyAddress.postbox)>0}
						{Label contact.postbox}: {$companyAddress.postbox}
					{/if}
					<br/>
				{/foreach}
			</td>
		</tr>
		<tr class="even"><td colspan="2"><br/></td></tr>
		<tr class="odd">
			<td class="label">{Label contact.email}:</td>
			<td>
			{if $email !== ''}
				<a href="mailto:{$email}">{$email}</a><br/>
			{/if}
			{foreach $contactinfo numCi ciData}
				{if strstr($ciData.info, '@') !== false}
					<a href="mailto:{$ciData.info}">{$ciData.info}</a><br/>
				{/if}
			{/foreach}
			</td>
		</tr>
		{if strlen($address[0][street])>0 || strlen($address[0][city])>0}
			<tr class="even">
				<td colspan="2"><br/></td>
			</tr>
			<tr class="odd">
				<td class="label">{Label contact.address}:</td>
				<td>
					{$address[0][street]}<br/>
					{$address[0][zip]} {$address[0][city]}<br/>
					{countryName $address[0][id_country]}<br/>
					{if strlen($address[0][postbox])>0}
						Postbox: {$address[0][postbox]}
					{/if}
				</td>
			</tr>
		{/if}
		<tr class="even"><td colspan="2"><br/></td></tr>
		{foreach $contactinfo numCi ciData}
			<tr class="{cycle values="even,odd"}">
				<td class="label">{labelContactinfotype $ciData.id_contactinfotype}:</td>
				<td>{$ciData.info}</td>
			</tr>
		{/foreach}
	</table>
</div>