{* --------------- Workfunction dropdown --------------- *}
<div class="fLabel odd">
	<label>{Label panelwidget-staffselector.byFunction}</label>
</div>

{select options=$jobTypeOptions value=$selectedJobTypes id="panelwidget-$id-jobtype" name="jobtype" multiple=$jobTypeMultiple}
<label class="toggleSelect collapse {if !$jobTypeMultiple}expand{/if}" id="panelwidget-{$id}-jobtypetoggle-label" title="{Label panelwidget-staffselector.toggle.multiselect.title}" for="panelwidget-{$id}-jobtypetoggle"></label>
<input class="toggleSelect" id="panelwidget-{$id}-jobtypetoggle" class="checkbox" type="checkbox" {if $jobTypeMultiple}checked="checked"{/if} />

{* --------------- Staff persons selector --------------- *}
<div class="fLabel odd">
	<label>{Label panelwidget-staffselector.title}:</label>
</div>

<span class="overflowHidden scrollbarHide displayBlock">
	{select options=$personOptions value=$selectedPersons id="panelwidget-$id-persons" multiple=true size=$listSize}
</span>

