<form class="fForm overflow" id="panelwidget-{$id}-form">
	<fieldset>
		<legend>{Label panelwidget-contactsearchinput.search.label}</legend>
		<label for="panelwidget-{$id}-sword">{Label panelwidget-contactsearchinput.search.label}</label>
		<input type="text" name="sword" id="panelwidget-{$id}-sword" value="{$sword}" />
		<a class="icon searchIcon" onclick="Todoyu.Ext.contact.PanelWidget.ContactSearch.search()" title="{Label panelwidget-contactsearchinput.search.label}"></a>
		<a class="icon clearIcon" id="panelwidget-{$id}-clear" onclick="Todoyu.Ext.contact.PanelWidget.ContactSearch.clear()" title="Clear" style="display:none"></a>
	</fieldset>
</form>
