<div class="contact">
	{if checkCreateAccess()}
		<button type="submit" class="button" onclick="{$buttonAction}">
			<span class="hasIcon iconAddContact">{Label $buttonLabel}</span>
			<span class="rgt"><!-- right --></span>
		</button>
	{/if}
</div>