<div id="contact-details" class="person">
	<h1 class="headerLine">
		<span class="title">{$fullname}</span>
		<span class="rgt"></span>
	</h1>
	
	<div class="infoBoxOuter">
		{* ------------ Main person data (name, primary email, image, etc.) ------------ *}
		<div class="infoBox main-person-data">
			<h4>{Label LLL:contact.ext.person.mainpersondata}</h4>
			<div class="content overflow">
				<div class="left image">{personImage $id}</div>
				<dl>
					<dd>{salutationLabel $id}</dd>
					<dd>{$fullname}</dd>
					<dd><a href="mailto:{$firstname}%20{$lastname}%20%3C{$email}%3E">{$email}</a></dd>
				</dl>
			</div>
		</div>

		{* ------------ Dynamic contact info types (emails, phone numbers, etc.) ------------ *}
		<div class="infoBox contact-info">
			<h4>{Label LLL:contact.ext.contactinfo}</h4>
			<div class="content overflow">
				<dl>
					{foreach $contactinfo numCi ciData}
						<dt>{labelContactinfotype $ciData.id_contactinfotype}:</dt>
						<dd>
							{if $ciData.infotype_category == constant(CONTACT_INFOTYPE_CATEGORY_EMAIL)}
								<a href="mailto:{$firstname}%20{$lastname}%20%3C{$ciData.info}%3E">{htmlencode wordwrap($ciData.info 30 cut=false)}</a>
							{else}
								{htmlencode wordwrap($ciData.info 30 cut=false)}
							{/if}
						</dd>
					{/foreach}
				</dl>
			</div>
		</div>
	
		{* ------------ Addresses ------------ *}
		{if $address}
			<div class="infoBox addressPart">
			{foreach $address numAddr addressType}
				<h4>{addressType $addressType.id_addresstype}</h4>
				<div class="content overflow address">
					{$addressType.street}<br />
					{if strlen($addressType.postbox)>0}
						{Label contact.ext.address.attr.postbox}: {htmlencode wordwrap($addressType.postbox 30 cut=true)}<br />
					{/if}
					{$addressType.zip} {$addressType.city}<br />
					{countryName $addressType.id_country}
				</div>
			{/foreach}
			</div>
		{/if}
	
		{* ------------ Employer companies with assigned job types ------------ *}
		{foreach $company comp}
			<div class="infoBox employer">
				<h4><a href="?ext=contact&controller=company&action=detail&company={$comp.id}">{Label LLL:contact.ext.person.attr.company}: {$comp.title}</a></h4>
				<div class="content overflow">
					<dl>
						<dt>{Label LLL:contact.ext.jobtype}:</dt><dd>{$comp.jobtype.title|default:"-"}</dd>
						{if $comp.id_workaddress > 0}
							<dt>{Label LLL:contact.ext.workaddress}:</dt><dd>{$comp.workaddress.street}, {$comp.workaddress.zip} {$comp.workaddress.city}, {countryName $comp.workaddress.id_country}</dd>
						{/if}
					</dl>
				</div>
			</div>
		{/foreach}
	
		{* ------------ todoyu account ------------ *}
		{if $is_active}
		<div class="infoBox userinformations">
			<h4>{Label LLL:contact.ext.person.userinformation}</h4>
			<div class="content overflow">
				<dl>
					<dt>{Label LLL:contact.ext.person.attr.username}:</dt>
					<dd>{$username|default:"-"}</dd>
					<dt>{Label LLL:contact.ext.person.attr.email}:</dt>
					<dd>
						{if $email}
						<a href="mailto:{$firstname}%20{$lastname}%20%3C{$ciData.info}%3E">{$email}</a>
						{else}
						-
						{/if}
					</dd>
					<dt>{Label LLL:core.global.roles}:</dt>
					<dd>
						<dl class="nofloat">
							{foreach $role roleItem}
								<dd>{$roleItem.title}</dd>
							{else}
								-
							{/foreach}
						</dl>
					</dd>
					<dt>{Label LLL:contact.ext.person.attr.is_admin}:</dt>
					<dd>{if $is_admin}{Label LLL:core.global.yes}{else}{Label LLL:core.global.no}{/if}</dd>
				</dl>
			</div>
		</div>
		{/if}
	
		{* ------------ Additional infos (birthday, comment) ------------ *}
		{if $birthday != '0000-00-00'}
			<div class="infoBox others">
				<h4>{Label LLL:contact.ext.other}</h4>
				<div class="content overflow">
					<dl>
						<dt>{Label LLL:contact.ext.person.attr.birthday}:</dt><dd>{$birthday}</dd>
						{if allowed('contact', 'person:seeComment')}
							<dt>{Label LLL:contact.ext.person.attr.comment}:</dt><dd>{$comment|default:"-"}</dd>
						{/if}
					</dl>
				</div>
			</div>
		{/if}
	
		{* ------------ Hooked content ------------ *}
		{$hookedContent}
	
		{* ------------ Actions panel (edit, delete, close) ------------ *}
		{if allowed('contact', 'person:editAndDelete')}
			<div class="actions">
				{Button 'LLL:contact.ext.person.edit' 'Todoyu.Ext.contact.Person.edit($id)' 'buttonPersonEdit' 'person-edit' 'LLL:contact.ext.person.edit'}
				{Button 'LLL:contact.ext.person.delete' 'Todoyu.Ext.contact.Person.remove($id)' 'buttonPersonDelete' 'person-delete' 'LLL:contact.ext.person.delete'}
				{Button 'LLL:contact.ext.person.close' 'Todoyu.Ext.contact.Person.showList(Todoyu.Ext.contact.PanelWidget.ContactSearch.getValue())' 'cancel' 'person-close' 'LLL:contact.ext.person.close'}
			</div>
			<div class="clear"></div>
		{/if}
	</div>
</div>