<div title="{Label contact.person.details}" class="icon info" onclick="Todoyu.Ext.contact.Person.show({$id})"></div>
{restrict 'contact' 'person:editAndDelete'}
	<div title="{Label contact.person.edit}" class="icon edit" onclick="Todoyu.Ext.contact.Person.edit({$id})"></div>
{/restrict}
{restrict 'contact' 'person:editAndDelete'}
	<div title="{Label contact.person.delete}" class="icon delete" onclick="Todoyu.Ext.contact.Person.remove({$id})"></div>
{/restrict}