<div id="contact-details" class="person">
	<h1 class="headerLine">
		<span class="title">{$fullname}</span>
		<span class="rgt"></span>
	</h1>

	<div class="infoBoxOuter">
		{* ------------ Main person data (name, primary email, image, etc.) ------------ *}
		<div class="infoBox main-person-data">
			<h4>{Label LLL:contact.ext.person.mainpersondata}</h4>
			<div class="content overflow">
				<div class="left image">{personImage $id}</div>
				<dl>
					<dd>{salutationLabel $id}</dd>
					<dd>{$fullname}</dd>
					<dd><a href="mailto:{$firstname}%20{$lastname}%20%3C{$email}%3E">{$email}</a></dd>
				</dl>
			</div>
		</div>

		{* ------------ Dynamic contact info types (emails, phone numbers, etc.) ------------ *}
		<div class="infoBox contact-info">
			<h4>{Label LLL:contact.ext.contactinfo}</h4>
			<div class="content overflow">
				<dl>
					{foreach $contactinfo numCi ciData}
						{if isContactinfotypeSeeAllowed('person', $id, $ciData.id_contactinfotype)}
							<dt>{labelContactinfotype $ciData.id_contactinfotype}:</dt>
							<dd>
								{if $ciData.infotype_category == constant(CONTACT_INFOTYPE_CATEGORY_EMAIL)}
									<a href="mailto:{$firstname}%20{$lastname}%20%3C{$ciData.info}%3E">{htmlencode wordwrap($ciData.info 30 cut=false)}</a>
								{else}
									{htmlencode wordwrap($ciData.info 30 cut=false)}
								{/if}
							</dd>
						{/if}
					{/foreach}
				</dl>
			</div>
		</div>

		{* ------------ Addresses ------------ *}
		{if $address}
			<div class="infoBox addressPart">
			{foreach $address numAddr addressType}
				{if (isAddressTypeSeeAllowed('person', $id, $addressType.id_addresstype))}
					<h4>{addressType $addressType.id_addresstype}</h4>
					<div class="content overflow address">
						{$addressType.street}<br />
						{if strlen($addressType.postbox)>0}
							{Label contact.ext.address.attr.postbox}: {htmlencode wordwrap($addressType.postbox 30 cut=true)}<br />
						{/if}
						{$addressType.zip} {$addressType.city}<br />
						{countryName $addressType.id_country}
					</div>
				{/if}
			{/foreach}
			</div>
		{/if}

		{* ------------ Employer companies with assigned job types ------------ *}
		{foreach $company comp}
			{if isCompanySeeAllowed($comp.id)}
				<div class="infoBox employer">
					<h4><a href="?ext=contact&controller=company&action=detail&company={$comp.id}">{Label LLL:contact.ext.person.attr.company}: {$comp.title}</a></h4>
					<div class="content overflow">
						<dl>
							<dt>{Label LLL:contact.ext.jobtype}:</dt>
								<dd>{$comp.jobtype.title|default:"-"}</dd>
							<dt>{Label LLL:contact.ext.workaddress}:</dt>
								<dd>
									{if $comp.workaddress.street}
										{$comp.workaddress.street}, {$comp.workaddress.zip} {$comp.workaddress.city}, {countryName $comp.workaddress.id_country}
									{else}
										-
									{/if}
								</dd>
						</dl>
					</div>
				</div>
			{/if}
		{/foreach}

		{* ------------ todoyu account ------------ *}
		{if $is_active && allowed('contact', 'person:enableLogin')}
		<div class="infoBox userinformations">
			<h4>{Label LLL:contact.ext.person.userinformation}</h4>
			<div class="content overflow">
				<dl>
					<dt>{Label LLL:contact.ext.person.attr.username}:</dt>
					<dd>{$username|default:"-"}</dd>
					{if ! empty($shortname)}
						<dt>{Label LLL:contact.ext.person.attr.shortname}:</dt>
						<dd>{$shortname}</dd>
					{/if}
					<dt>{Label LLL:contact.ext.person.attr.email}:</dt>
					<dd>
						{if $email}
						<a href="mailto:{$firstname}%20{$lastname}%20%3C{$email}%3E">{$email}</a>
						{else}
						-
						{/if}
					</dd>
					<dt>{Label LLL:core.global.roles}:</dt>
					<dd>
						<dl class="nofloat">
							{foreach $role roleItem}
								<dd>{$roleItem.title}</dd>
							{else}
								-
							{/foreach}
						</dl>
					</dd>
					<dt>{Label LLL:contact.ext.person.attr.is_admin}:</dt>
					<dd>{if $is_admin}{Label LLL:core.global.yes}{else}{Label LLL:core.global.no}{/if}</dd>
				</dl>
			</div>
		</div>
		{/if}

		{* ------------ Additional infos (birthday, comment) ------------ *}

		<div class="infoBox others">
			<h4>{Label LLL:contact.ext.other}</h4>
			<div class="content overflow">
				<dl>
					{if $birthday != '0000-00-00' && isInternal()}
						<dt>{Label LLL:contact.ext.person.attr.birthday}:</dt>
						<dd>{formatSqlDate $birthday}</dd>
					{/if}
					{if allowed('contact', 'person:seeComment')}
						<dt>{Label LLL:contact.ext.person.attr.comment}:</dt><dd>{$comment|default:"-"}</dd>
					{/if}
				</dl>
			</div>
		</div>


		{* ------------ Hooked content ------------ *}
		{$hookedContent}

		{* ------------ Actions panel (edit, delete, close) ------------ *}

		<div class="actions">
			{if isPersonEditAllowed($id)}
				{Button label='contact.ext.person.edit' onclick='Todoyu.Ext.contact.Person.edit($id)' class='buttonPersonEdit' id='person-edit' title='LLL:contact.ext.person.edit'}
			{/if}
			{if isPersonDeleteAllowed($id)}
				{Button label='contact.ext.person.delete' onclick='Todoyu.Ext.contact.Person.remove($id)' class='buttonPersonDelete' id='person-delete' title='LLL:contact.ext.person.delete'}
			{/if}
			{Button label='contact.ext.person.close' onclick='Todoyu.Ext.contact.Person.showList(Todoyu.Ext.contact.PanelWidget.ContactSearch.getValue())' class='cancel' id='person-close' title='LLL:contact.ext.person.close'}
		</div>
		<div class="clear"></div>

	</div>
</div>