<span title="{Label contact.ext.person.details}" class="icon info" onclick="Todoyu.Ext.contact.Person.show({$id})"></span>
{if isPersonEditAllowed($id)}
	<span title="{Label contact.ext.person.edit}" class="icon edit" onclick="Todoyu.Ext.contact.Person.edit({$id})"></span>
{/if}
{if isPersonDeleteAllowed($id)}
	<span title="{Label contact.ext.person.delete}" class="icon delete" onclick="Todoyu.Ext.contact.Person.remove({$id})"></span>
{/if}