{IndexLetters $persons "lastname"}

<table class="list personlist">
  <tr class="header">
    <th scope="col" class="icon">&nbsp;</th>
    <th scope="col" class="lastname">Lastname</th>
    <th scope="col" class="firstname">Firstname</th>
    <th scope="col" class="email">Email</th>
    <th scope="col" class="company">Company</th>
    <th scope="col" class="last actions">&nbsp;</th>
  </tr>
{foreach $persons person}
  <tr class="{cycle values="odd,even"}">
  	<td class="icon"><a name="index_{upper $person.lastname[0]}"></a></td>
    <td class="lastname">{$person.lastname}</td>
    <td class="firstname">{$person.firstname}</td>
    <td class="email">{$person.email}</td>
    <td class="company">{$person.company}</td>
    <td class="actions">
    	<div title="{Label LLL:contact.person.tooltip.edit true}" class="icon edit" onclick="Todoyu.Ext.contact.Person.edit({$person.id})"></div>
    	<div title="{Label LLL:contact.person.tooltip.delete true}" class="icon delete" onclick="Todoyu.Ext.contact.Person.remove({$person.id})"></div>
    	<div title="{Label LLL:contact.person.tooltip.showuser true}" class="icon user" onclick="Todoyu.Ext.contact.Person.showUser({$person.id})"></div>
    </td>
  </tr>
{/foreach}
</table>